<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Категории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item btn btn-light {% if filter.category is empty %} active{% endif %} li-category"
                id="all-category">Все
            </li>
            {% for category in categories %}
                <li class="list-group-item btn btn-light {% if category.id in filter.category %} active{% endif %} li-category"
                    data-id="{{ category.id }}">{{ category.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>