<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">KT-TEAM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
                   aria-controls="offcanvasExample">
                    Выбрать категорию
                </a>
                <li class="nav-item dropdown primary">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Количество записей на странице
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for countPerPage in [10,20,50] %}
                            <li><a class="dropdown-item {% if perPage == countPerPage %} active {% endif %}"
                                   href="#">{{ countPerPage }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Фильтр веса
                </button>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
                <button class="btn btn-secondary" type="submit">Поиск</button>
            </form>
        </div>
    </div>
</nav>