<nav aria-label="Пример навигации по страницам">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if page == 0 %} disabled {% endif %}" data-page="{{ page-1 }}"><a class="page-link"
                                                                                                  href="#">Предыдущая</a>
        </li>
        {% for number in 1..pageCount %}
            <li class="page-item {% if number == page+1 %} active {% endif %}" data-page="{{ number-1 }}"><a
                        class="page-link" href="#">{{ number }}</a></li>
        {% endfor %}
        <li class="page-item {% if page == pageCount %} disabled {% endif %}" data-page="{{ page+1 }}"><a
                    class="page-link"
                    href="#">Следующая</a></li>
    </ul>
</nav>